.line{
  height: 150px;
  width: 1px;
  background-color: $grey;
  position: absolute;
  left: calc(50% - 1px);
  z-index: 1;

  &:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $grey;
    border-radius: 50%;
    top: 0;
    left: -4px;
  }
}
.line-bottom{
  bottom: 0;
}
.line-top{
  z-index: 1;
  top: 0;
  height: 61px !important;
  &.hidden{
    opacity: 0;
  }
}

.line__start{
  height: 150px;
  width: 1px;
  background-color: $grey;
  position: absolute;
  left: calc(50% - 1px);
}