.percent {
  opacity: 0;
  visibility: hidden;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 50%;
  background-color: transparent;
  z-index: 99999;
  svg {
    transform: translate(-10px, -10px);

    circle {
      transition: stroke-dashoffset 0.3s linear;
      stroke-width: 6px;
      stroke-dashoffset: 500;

      &#bar {
        transform: translate(5px, 5px);
        stroke: $grey;
      }
    }
  }

  .value {
    font-family: $main-font;
    position: absolute;
    top: 50px;
    left: 5px;
  }

  .shapes {
    position: absolute;
    top: calc(50% - 3px); /* TAKIT: position at center, 25px is half the height */
    left: calc(50% - 3px); /* TAKIT: position at center, 3px is half the width */
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $grey;
    /* TAKIT: Using CSS var is cool for the rotation
              Using translate here to shift it from the center */
    transform: rotate(var(--deg)) translate(-50%, 20px);
    /* TAKIT: 104px in translate means 4px of margin between circle and shapes */
  }

  &.show__conclusion {
    transition: all 0.6s;
    &:after {
      content: "";
      border-radius: 100%;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      background: transparent;
      animation: beacon 1s linear infinite;

    }

    &:hover{
      cursor: pointer;
      background-color: $grey;
      transition: all 0.6s;
    }
  }
}


