#cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}



.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}