.female__questions{
  .first__question{
    .question__base{
      .gabi{
        margin: 0 30px 0 45px;
      }
    }
    .question__choices{
      .choices{
        display: flex;
        margin-top: 105px;
        width: 728px;
        justify-content: space-around;
        .choice{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          svg{
            margin-bottom: 35px;
          }
          p{
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
          }
        }
      }

    }
  }
}