#line{
  display: none;
  position: absolute;
  top: 0;

  .line{
    fill: none;
  }
}

#chart{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#streetMen{
  display: none;
  position: absolute;
  bottom: 0;
}

#map{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;

  path{
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
      fill: red;
      transition: all 0.5s;
    }
  }
}