#line{
  display: none;
  position: absolute;
  top: 0;

  .line{
    fill: none;
  }
}

#chart{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#streetMen{
  position: absolute;
  bottom: 0;
}