.fadeOut{
  opacity: 0 !important;
  visibility: hidden !important;
  transition: 1.2s all;
}

.fadeIn{
  opacity: 1 !important;
  visibility: visible !important;
  transition: 1.2s all;
}

.slideOff{
  transition: 1.2s all;
  transform: translateX(-100vw) !important;
}
.slideOn{
  transition: 1.2s all;
  transform: translateX(0) !important;
}


.blue{
  transition: 0.7s all;
  background-color: #b3d4fc;
}
.pink{
  transition: 0.7s all;
  background-color: pink;
}