$grey: #333333;
$beige: #F8F3EC;

 
//   html[data-sex='male'] {
//     --main-color: #FFAB33;
//   }
//   html[data-sex='female'] {
//     --main-color: #FF614C;
//   }

$yellow: #FFAB33;
$red: #FF614C;

// var(--main-color)
