$grey: #333333;
$beige: #F8F3EC;

// html {
//     --bg: rgba(255, 255, 255, 0.88);
//     --bg-nav: #AF9DAD;
//     --color: rgba(50, 50, 50, 0.88);
//   }
  
//   html[data-theme='dark'] {
//     --bg: rgba(50, 50, 50, 0.88);
//     --bg-nav: rgba(50, 50, 50, 0.88);
//     --color: rgba(255, 255, 255, 0.88);
//   }

$yellow: #FFAB33;
$red: #FF614C;
